body {
    background-color: darkseagreen;
    margin: 5%;
}

H1 {
    color: darkgreen;
    font-family: arial;
    text-align: center;
}
h2 {
    text-align: center;
    font-family: arial;
    color:darkslategrey;
}
H3 {
    font-family: arial;
    color:darkslategrey;
}
p {
    font-family: arial;
    color:darkslategrey;
}
}